<!DOCTYPE html>
<html>
<head>
    <title>Openstack Flyway Testing Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" href="/static/css/contentslider.css" type="text/css" />
<link rel="stylesheet" href="/static/css/templatemo_style.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/static/css/themes/default/easyui.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/contentslider.js"></script>

<script type="text/javascript">

     var data_to_magrate = {
        'user':new Array(),
        'role':new Array(),
        'image':new Array(),
        'tenant':new Array(),
        'keypair':new Array(),
        'flavor':new Array(),
        'vm':new Object()
    }


     var old_counter = 0;

     var bar_counter = 0.0;
     var intvalue;
     var totalTime = 0.0;


    $(function(){
        get_flavors(null, null, null, null, null, null, null);
    });

    function get_users(obj1, obj2, obj3, obj4, obj5, obj6, obj7){

        $.ajax({
            url: "/flyway_test/get_users"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:200},
                        {field:'id',title:'Id',width:430}
                    ]],
                    onSelect: function(rowIndex, rowData){select_user_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_user_row(rowIndex, rowData)},
                    onLoadSuccess:function(data){
                        if(data){
                            $.each(data.rows, function(index, item){
                                if(data_to_magrate['user'].indexOf(item.name)>=0){
                                    $('#result').datagrid('checkRow', index);
                                }
                            });
                        }
                    }
                });
            });

        $('#resource').html('Users')

        obj1.style.background='#FFFFFF';
        obj1.style.color='#000000';

        obj2.style.background='#DDDDDD';
        obj2.style.color='#777777';
        obj3.style.background='#DDDDDD';
        obj3.style.color='#777777';
        obj4.style.background='#DDDDDD';
        obj4.style.color='#777777';
        obj5.style.background='#DDDDDD';
        obj5.style.color='#777777';
        obj6.style.background='#DDDDDD';
        obj6.style.color='#777777';
        obj7.style.background='#DDDDDD';
        obj7.style.color='#777777';

    }

    function get_roles(obj1, obj2, obj3, obj4, obj5, obj6, obj7){

        $.ajax({
            url: "/flyway_test/get_roles"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:200},
                        {field:'id',title:'Id',width:430}
                    ]],
                    onSelect: function(rowIndex, rowData){select_role_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_role_row(rowIndex, rowData)},
                    onLoadSuccess:function(data){
                        if(data){
                            $.each(data.rows, function(index, item){
                                if(data_to_magrate['role'].indexOf(item.name)>=0){
                                    $('#result').datagrid('checkRow', index);
                                }
                            });
                        }
                    }
                });
            });

        $('#resource').html('Roles')

        obj1.style.background='#FFFFFF';
        obj1.style.color='#000000';

        obj2.style.background='#DDDDDD';
        obj2.style.color='#777777';
        obj3.style.background='#DDDDDD';
        obj3.style.color='#777777';
        obj4.style.background='#DDDDDD';
        obj4.style.color='#777777';
        obj5.style.background='#DDDDDD';
        obj5.style.color='#777777';
        obj6.style.background='#DDDDDD';
        obj6.style.color='#777777';
        obj7.style.background='#DDDDDD';
        obj7.style.color='#777777';
    }

    function get_images(obj1, obj2, obj3, obj4, obj5, obj6, obj7){

        $.ajax({
            url: "/flyway_test/get_images"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:200},
                        {field:'id',title:'Id',width:430}
                    ]],
                    onSelect: function(rowIndex, rowData){select_image_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_image_row(rowIndex, rowData)},
                    onLoadSuccess:function(data){
                        if(data){
                            $.each(data.rows, function(index, item){
                                if(data_to_magrate['image'].indexOf(item.id)>=0){
                                    $('#result').datagrid('checkRow', index);
                                }
                            });
                        }
                    }
                });
            });

        $('#resource').html('Images')

        obj1.style.background='#FFFFFF';
        obj1.style.color='#000000';

        obj2.style.background='#DDDDDD';
        obj2.style.color='#777777';
        obj3.style.background='#DDDDDD';
        obj3.style.color='#777777';
        obj4.style.background='#DDDDDD';
        obj4.style.color='#777777';
        obj5.style.background='#DDDDDD';
        obj5.style.color='#777777';
        obj6.style.background='#DDDDDD';
        obj6.style.color='#777777';
        obj7.style.background='#DDDDDD';
        obj7.style.color='#777777';

    }

    function get_keypairs(obj1, obj2, obj3, obj4, obj5, obj6, obj7){

        $.ajax({
            url: "/flyway_test/get_keypairs"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:200},
                        {field:'fingerprint',title:'Fingerprint',width:430}
                    ]],
                    onSelect: function(rowIndex, rowData){select_keypair_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_keypair_row(rowIndex, rowData)},
                    onLoadSuccess:function(data){
                        if(data){
                            $.each(data.rows, function(index, item){
                                if(data_to_magrate['keypair'].indexOf(item.fingerprint)>=0){
                                    $('#result').datagrid('checkRow', index);
                                }
                            });
                        }
                    }
                });
            });

        $('#resource').html('Key Pairs')

        obj1.style.background='#FFFFFF';
        obj1.style.color='#000000';

        obj2.style.background='#DDDDDD';
        obj2.style.color='#777777';
        obj3.style.background='#DDDDDD';
        obj3.style.color='#777777';
        obj4.style.background='#DDDDDD';
        obj4.style.color='#777777';
        obj5.style.background='#DDDDDD';
        obj5.style.color='#777777';
        obj6.style.background='#DDDDDD';
        obj6.style.color='#777777';
        obj7.style.background='#DDDDDD';
        obj7.style.color='#777777';
    }

    function get_flavors(obj1, obj2, obj3, obj4, obj5, obj6, obj7){

        $.ajax({
            url: "/flyway_test/get_flavors"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:200},
                        {field:'id',title:'Id',width:430}
                    ]],
                    onSelect: function(rowIndex, rowData){select_flavor_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_flavor_row(rowIndex, rowData)},
                    onLoadSuccess:function(data){
                        if(data){
                            $.each(data.rows, function(index, item){
                                if(data_to_magrate['flavor'].indexOf(item.name)>=0){
                                    $('#result').datagrid('checkRow', index);
                                }
                            });
                        }
                    }
                });
            });

        $('#resource').html('Flavours')

        if (obj1 != null) {
            obj1.style.background='#FFFFFF';
            obj1.style.color='#000000';

            obj2.style.background='#DDDDDD';
            obj2.style.color='#777777';
            obj3.style.background='#DDDDDD';
            obj3.style.color='#777777';
            obj4.style.background='#DDDDDD';
            obj4.style.color='#777777';
            obj5.style.background='#DDDDDD';
            obj5.style.color='#777777';
            obj6.style.background='#DDDDDD';
            obj6.style.color='#777777';
            obj7.style.background='#DDDDDD';
            obj7.style.color='#777777';
        }

    }

    function get_vms(obj1, obj2, obj3, obj4, obj5, obj6, obj7){

        $.ajax({
            url: "/flyway_test/get_vms"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Tenant Name',width:100},
                        {field:'host_name',title:'VM Name',width:100},
                        {field:'id',title:'VM ID',width:430}
                    ]],
                    onSelect: function(rowIndex, rowData){select_vm_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_vm_row(rowIndex, rowData)},
                    onLoadSuccess:function(data){
                        if(data){
                            $.each(data.rows, function(index, item){
                                var key_value = item.name
                                var value_value = item.id
                                if(data_to_magrate['vm'][key_value]!=undefined
                                        && data_to_magrate['vm'][key_value].indexOf(value_value)>=0){
                                    $('#result').datagrid('checkRow', index);
                                }
                            });
                        }
                    }
                });
            });

        $('#resource').html('VMs')

        obj1.style.background='#FFFFFF';
        obj1.style.color='#000000';

        obj2.style.background='#DDDDDD';
        obj2.style.color='#777777';
        obj3.style.background='#DDDDDD';
        obj3.style.color='#777777';
        obj4.style.background='#DDDDDD';
        obj4.style.color='#777777';
        obj5.style.background='#DDDDDD';
        obj5.style.color='#777777';
        obj6.style.background='#DDDDDD';
        obj6.style.color='#777777';
        obj7.style.background='#DDDDDD';
        obj7.style.color='#777777';
    }

    function get_tenants(obj1, obj2, obj3, obj4, obj5, obj6, obj7){

        $.ajax({
            url: "/flyway_test/get_tenants"
            }).done(function(return_json) {
                $('#result').datagrid({
                    data: eval("(" + return_json + ')'),
                    columns:[[
                        {field:'ck',title:'CK', checkbox:true, width:40},
                        {field:'name',title:'Name',width:200},
                        {field:'id',title:'Id',width:430}
                    ]],
                    onSelect: function(rowIndex, rowData){select_tenant_row(rowIndex, rowData)},
                    onUnselect: function(rowIndex, rowData){unselect_tenant_row(rowIndex, rowData)},
                    onLoadSuccess:function(data){
                        if(data){
                            $.each(data.rows, function(index, item){
                                if(data_to_magrate['tenant'].indexOf(item.name)>=0){
                                    $('#result').datagrid('checkRow', index);
                                }
                            });
                        }
                    }
                });
            });

        $('#resource').html('Tenants')

        obj1.style.background='#FFFFFF';
        obj1.style.color='#000000';

        obj2.style.background='#DDDDDD';
        obj2.style.color='#777777';
        obj3.style.background='#DDDDDD';
        obj3.style.color='#777777';
        obj4.style.background='#DDDDDD';
        obj4.style.color='#777777';
        obj5.style.background='#DDDDDD';
        obj5.style.color='#777777';
        obj6.style.background='#DDDDDD';
        obj6.style.color='#777777';
        obj7.style.background='#DDDDDD';
        obj7.style.color='#777777';
    }

    function select_user_row(rowIndex, rowData){
        if(data_to_magrate['user'].indexOf(rowData.name) < 0){
            data_to_magrate['user'].push(rowData.name)
        }
        old_counter++;
        totalTime += 1.0;
    }

    function unselect_user_row(rowIndex, rowData){
        data_to_magrate['user'].splice(data_to_magrate['user'].indexOf(rowData.name), 1)
        old_counter--;
        totalTime -= 1.0;
    }

    function select_role_row(rowIndex, rowData){
        if(data_to_magrate['role'].indexOf(rowData.name) < 0 ){
            data_to_magrate['role'].push(rowData.name)
        }
        old_counter++;
        totalTime += 1.0;
    }

    function unselect_role_row(rowIndex, rowData){
        data_to_magrate['role'].splice(data_to_magrate['role'].indexOf(rowData.name), 1)
        old_counter--;
        totalTime -= 1.0;
    }

    function select_image_row(rowIndex, rowData){
        if(data_to_magrate['image'].indexOf(rowData.id) < 0){
            data_to_magrate['image'].push(rowData.id)
        }
        old_counter++;
        totalTime += 18.0;
    }

    function unselect_image_row(rowIndex, rowData){
        data_to_magrate['image'].splice(data_to_magrate['image'].indexOf(rowData.id), 1)
        old_counter--;
        totalTime -= 18.0;
    }

    function select_tenant_row(rowIndex, rowData){
        if(data_to_magrate['tenant'].indexOf(rowData.name) < 0){
            data_to_magrate['tenant'].push(rowData.name)
        }
        old_counter++;
        totalTime += 2.0;
    }

    function unselect_tenant_row(rowIndex, rowData){
        data_to_magrate['tenant'].splice(data_to_magrate['tenant'].indexOf(rowData.name), 1)
        old_counter--;
        totalTime -= 2.0;
    }

    function select_flavor_row(rowIndex, rowData){
        if(data_to_magrate['flavor'].indexOf(rowData.name) < 0){
            data_to_magrate['flavor'].push(rowData.name)
        }
        old_counter++;
        totalTime += 1.0;
    }

    function unselect_flavor_row(rowIndex, rowData){
        data_to_magrate['flavor'].splice(data_to_magrate['flavor'].indexOf(rowData.name), 1)
        old_counter--;
        totalTime -= 1.0;
    }

    function select_keypair_row(rowIndex, rowData){
        if(data_to_magrate['keypair'].indexOf(rowData.fingerprint) < 0){
            data_to_magrate['keypair'].push(rowData.fingerprint)
        }
        old_counter++;
        totalTime += 2.0;
    }

    function unselect_keypair_row(rowIndex, rowData){
        data_to_magrate['keypair'].splice(data_to_magrate['keypair'].indexOf(rowData.fingerprnt), 1)
        old_counter--;
        totalTime -= 2.0;
    }

    function select_vm_row(rowIndex, rowData){
        var key_value = rowData.name;
        var value_value = rowData.id;
        if(data_to_magrate['vm'][key_value] == undefined){
            data_to_magrate['vm'][key_value] = [value_value]
        }else{
            data_to_magrate['vm'][key_value].push(value_value)
        }
        old_counter++;
        totalTime += 10.0;
    }

    function unselect_vm_row(rowIndex, rowData){
        var key_value = rowData.name;
        var value_value = rowData.id;
        data_to_magrate['vm'][key_value].splice(data_to_magrate['vm'][key_value].indexOf(value_value), 1)
        old_counter--;
        totalTime -= 10.0;
    }

    function migrate(){
        if(old_counter == 0) {
            alert("No resource has been selected.")
        } else {
            bar_counter = 0.0;
            setBarValue("start migrating ", 0);
            intvalue = setInterval("barAction(totalTime)", 300);
            $('#waiting').html("<img src='../static/css/images/waiting.gif'>");
            $.ajax({
                url: "/flyway_test/migrate",
                data: {"data_to_migrate": JSON.stringify(data_to_magrate)}
                })
                    .done(function(return_json) {
                    window.clearInterval(intvalue);
                    $('#waiting').html("");
                    setBarValue("migration finished.  ", 100)
                })
                    .fail(function() {
                    window.clearInterval(intvalue);
                    $('#waiting').html("");
                    setBarValue("migration failed.  ", 100)
                    });
        }
    }

    function migrate_all(){
        bar_counter = 0.0;
        setBarValue("start migrating ", 0);
        intvalue = setInterval("barAction(30.0)", 300);
        $('#waiting').html("<img src='../static/css/images/waiting.gif'>");
        $.ajax({
            url: "/flyway_test/migrate_all"
            })
                .done(function(return_json) {
                window.clearInterval(intvalue);
                $('#waiting').html("");
                setBarValue("finished.  ", 100)
            })
                .fail(function() {
                window.clearInterval(intvalue);
                $('#waiting').html("");
                setBarValue("migration failed.  ", 100)
                });
    }

    function setBarValue(output, number){
	    var progressBar = document.getElementById("progress");
        progressBar.value = number;
        //$('#progressoutput').html(output + number + "%");
        $('#progressoutput').html(output);
    }

    function barAction(time){
        if (bar_counter < time-1.0){
            setBarValue("migrating . . .  ", Math.floor(bar_counter / time * 100));
            bar_counter += time/100.0;
        } else {
            window.clearInterval(intvalue);
        }
    }


</script>

</head>
<body>
<div id="templatemo_container">

        <div id="templatemo_left_panel">

            <div id="logo">
            </div>

            <div id="paginate-slider4" class="pagination">
                <input type="button" id="button1" onclick="get_flavors(button1, button2, button3, button4, button5, button6, button7)" value="Flavour" onmouseover="button1.className='toc leftbuttonover'" onmouseout="button1.className='toc leftbutton'" class="toc leftbutton">
                <input type="button" id="button2" onclick="get_images(button2, button1, button3, button4, button5, button6, button7)" value="Image" onmouseover="button2.className='toc leftbuttonover'" onmouseout="button2.className='toc leftbutton'" class="toc leftbutton">
                <input type="button" id="button3" onclick="get_keypairs(button3, button1, button2, button4, button5, button6, button7)" value="Key Pair" onmouseover="button3.className='toc leftbuttonover'" onmouseout="button3.className='toc leftbutton'" class="toc leftbutton">
                <input type="button" id="button4" onclick="get_roles(button4, button1, button2, button3, button5, button6, button7)" value="Role" onmouseover="button4.className='toc leftbuttonover'" onmouseout="button4.className='toc leftbutton'" class="toc leftbutton">
                <input type="button" id="button5" onclick="get_tenants(button5, button1, button2, button3, button4, button6, button7)" value="Tenant" onmouseover="button5.className='toc leftbuttonover'" onmouseout="button5.className='toc leftbutton'" class="toc leftbutton">
                <input type="button" id="button6" onclick="get_users(button6, button1, button2, button3, button4, button5, button7)" value="User" onmouseover="button6.className='toc leftbuttonover'" onmouseout="button6.className='toc leftbutton'" class="toc leftbutton">
                <input type="button" id="button7" onclick="get_vms(button7, button1, button2, button3, button4, button5, button6)" value="VM" onmouseover="button7.className='toc leftbuttonover'" onmouseout="button7.className='toc leftbutton'" class="toc leftbutton">
            </div>

        </div>


        <div id="slider4" class="sliderwrapper">

          <div class="contentdiv">
            <div class="header"><span id="resource"></span></div>
                <table id="result" class="easyui-datagrid" width="500" border="0" valign="top" cellspacing="0" bordercolor="#F0F0F0">
                </table>

          </div>

          <div id="migratebuttonlocation">
                <input type="button" onclick="migrate_all()" value="Migrate All" onmouseover="this.className='toc migratebuttonover'" onmouseout="this.className='toc migratebutton'" class="toc migratebutton">
                <input type="button" onclick="migrate()" value="Migrate" onmouseover="this.className='toc migratebuttonover'" onmouseout="this.className='toc migratebutton'" class="toc migratebutton">
          </div>

          <div id="progressbarlocation">
              <span id="progressoutput"></span>
              <img id="waiting">
              <progress id="progress" class="progressbar" value="0" max="100"></progress>
          </div>

        </div>

        <div id="templatemo_content">

            <script type="text/javascript">
            featuredcontentslider.init({
                id: "slider4", //id of main slider DIV
                contentsource: ["inline", ""], //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
                toc: "markup", //Valid values: "#increment", "markup", ["label1", "label2", etc]
                nextprev: ["", ""], //labels for "prev" and "next" links. Set to "" to hide.
                revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
                enablefade: [true, 0.1], //[true/false, fadedegree]
                autorotate: [false, 3000], //[true/false, pausetime]
                onChange: function(previndex, curindex){ //event handler fired whenever script changes slide
                //previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
                //curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
                }
            })
            </script>

        </div>

</div>
</body>
</html>